<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computed Property</title>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model="firstname"> <br>
            <input type="text" v-model="middlename"> <br>
            <input type="text" v-model="lastname"> <br>
        </div>
        <div>
            Nama Lengkap {{ fullname }}
        </div>
    </div>
    <script type="module">
        import{
            createApp
        } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'

        createApp({
            data(){
                return {
                    firstname : '',
                    middlename : '',
                    lastname : ''
                }
            },
            computed:{
                fullname(){
                    return this.firstname + ' ' + this.middlename + ' ' + this.lastname
                }
            }
        }).mount('#app');
    </script>
</body>

</html>